.screen{
    width: 100%;
    background-color: aqua;
    height: 100vh;
}

.navbar{
    width: 15%;
    height: 100%;
    background-color: #1A1E1C;
}
.navbar_logo_section{
    display: flex;
    justify-content: space-between;
}
.navbar_menu_section{

}
.navbar_menu_list{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}
.navbar_menu_list_icon{
    color: white;
}

@media screen and (max-width:640px){
    .navbar_input_section{
        display: none;
    }
}